*{ /*universal*/
    margin: 0; /*margem*/
    padding: 0; /*espaçamento interno*/
    font-family: arial,sans-serif;
    font-size: 13px; /* tamanho da fonte */

}

img{   /*ESTILO TAG IMAGEM*/
    height: 92px;/*altura*/
}
a{   /*TAG /LINK/*/
    text-decoration: none;/*tirou decoração de texto*/
    color: #1f1f1f; /*COR DO TEXTO*/
    font-size: 13px;/*tamanho fonte*/
    font-family: sans-serif;/*tipo/familia DA FONTE*/
}
.icone-produtos{ /*CLASSE ICONE-PRODUTOS*/
    width: 24px;/*largura*/
    fill: #444746;/*COR preenchimento*/
}

.botao-login{  /*classe botao-login*/
    background-color: #1a73e8;/*cor de  fundo*/
    color: white; /*COR DO TEXTO*/
    padding: 13px 12px;/*espaçamento interno*/
    font-weight: 500px; /*PESO DA FONTE*/
    border-radius: 40px; /*RAIO DA BORDA(CURVATURA)*/
}
footer{ /*seletor da tag FONTER/RODAPÉ*/
    background-color: #f2f2f2; /*COR DE FUNDO*/
}
.caixa-rodape{
    display: flex;
    justify-content: space-between;
    padding :15px 30px;

}
.caixa-rodape--borda{
    border-bottom: 1px solid #dadce0
}
.caixa-links{
    display: flex;
    gap: 30px; /*espaçamento entre os itens da div caixa-links*/
}

header{ /*cabeçalho*/
    display: flex;
    justify-content: flex-end; /*horinzontal, a direita no espaço disponivel*/ 
    /*itens alinhados ao centro do espaço disponivel*/
    align-items: center; /*itens alinhados ao centro do espaço disponivel*/
    gap: 15px;/*espaçamento entre os elementos dentro do header */
    padding: 10px 14px;/*espaçamento ao redor do header*/
}